@import 'utils/variables';
@import 'components/page-header';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-primary;
    color: $color-text;
    margin: 0px;
}

li {
    list-style: none;
}

figure,
h1,
h2,
h3,
p,
ul {
    padding: 0px;
    margin: 0px;
}

